<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!--  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/assets/css/cropper.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/assets/css/main-style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/assets/css/footer.css"
    />
    <link rel="stylesheet" href="/static/assets/css/introduce.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/logo/meow.png"
    />
    <title>Web image search</title>
  </head>
  <body>
    <div class="container-page close">
      <header>
        <div class="header-container">
          <div class="web-header">
            <img class="header-img" src="/static/logo/meow.png" alt="anh meo" />
            <h1>Image search engine</h1>
          </div>
        </div>
      </header>
      <div class="content-body">
        <div class="row" id="crop-table">
          <div class="container-search">
            <div class="image-container">
              <div class="image-workspace">
                <img src="" alt="" />
                <span>Image Work Space</span>
              </div>
            </div>

            <div class="preview-container">
              <div class="preview-cover">
                <div
                  type="file"
                  name="query_img"
                  class="img-preview"
                  style="height: 9rem; width: 16rem"
                ></div>
                <span>Image Preview</span>
              </div>
            </div>

            <div class="action-button">
              <div class="top">
                <button class="upload">Upload</button>
                <input
                  type="file"
                  class="hidden-upload"
                  style="display: none"
                  accept="image/*"
                />
                <button class="crop">Crop</button>
              </div>
              <form
                action="/result"
                method="POST"
                enctype="multipart/form-data"
                id="form1"
                class="bot"
              >
                <select class="form-select" name="method">
                  <option value="VGG16">VGG16</option>
                  <option value="Xception">Xception</option>
                  <option value="EfficientNetV2L">EfficientNetV2L</option>
                </select>

                <button type="submit" class="find">Find</button>
              </form>
            </div>

            <div class="side-control-page-1">
              <div class="zoom">
                <span>Zoom In - Out</span>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M19.55 20.575 13.25 14.3Q12.5 14.925 11.525 15.275Q10.55 15.625 9.525 15.625Q6.95 15.625 5.175 13.85Q3.4 12.075 3.4 9.5Q3.4 6.95 5.175 5.162Q6.95 3.375 9.525 3.375Q12.075 3.375 13.85 5.15Q15.625 6.925 15.625 9.5Q15.625 10.575 15.275 11.55Q14.925 12.525 14.325 13.25L20.6 19.525ZM9.525 14.125Q11.45 14.125 12.788 12.775Q14.125 11.425 14.125 9.5Q14.125 7.575 12.788 6.225Q11.45 4.875 9.525 4.875Q7.575 4.875 6.238 6.225Q4.9 7.575 4.9 9.5Q4.9 11.425 6.238 12.775Q7.575 14.125 9.525 14.125ZM10.275 12.2H8.775V10.25H6.825V8.75H8.775V6.8H10.275V8.75H12.2V10.25H10.275Z"
                    />
                  </svg>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M19.55 20.575 13.25 14.3Q12.5 14.925 11.525 15.275Q10.55 15.625 9.525 15.625Q6.95 15.625 5.175 13.85Q3.4 12.075 3.4 9.5Q3.4 6.95 5.175 5.162Q6.95 3.375 9.525 3.375Q12.075 3.375 13.85 5.15Q15.625 6.925 15.625 9.5Q15.625 10.575 15.275 11.55Q14.925 12.525 14.325 13.25L20.6 19.525ZM9.525 14.125Q11.45 14.125 12.788 12.775Q14.125 11.425 14.125 9.5Q14.125 7.575 12.788 6.225Q11.45 4.875 9.525 4.875Q7.575 4.875 6.238 6.225Q4.9 7.575 4.9 9.5Q4.9 11.425 6.238 12.775Q7.575 14.125 9.525 14.125ZM7.125 10.25V8.75H11.9V10.25Z"
                    />
                  </svg>
                </li>
              </div>
              <div class="rotate">
                <span>Rotate image</span>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M20.5 12.05H18.975Q18.825 11.2 18.5 10.387Q18.175 9.575 17.65 8.85L18.725 7.8Q19.45 8.675 19.9 9.762Q20.35 10.85 20.5 12.05ZM13.05 21.5V19.95Q13.9 19.825 14.713 19.5Q15.525 19.175 16.25 18.65L17.3 19.725Q16.35 20.45 15.288 20.9Q14.225 21.35 13.05 21.5ZM18.725 18.3 17.65 17.25Q18.175 16.525 18.5 15.712Q18.825 14.9 18.975 14.05H20.5Q20.375 15.2 19.925 16.275Q19.475 17.35 18.725 18.3ZM11.05 21.5Q7.825 21.075 5.688 18.675Q3.55 16.275 3.55 13.05Q3.55 9.5 6.025 7.025Q8.5 4.55 12.05 4.55H12.5L10.7 2.725L11.75 1.65L15.4 5.3L11.75 8.95L10.7 7.9L12.55 6.05H12.05Q9.125 6.05 7.088 8.088Q5.05 10.125 5.05 13.05Q5.05 15.65 6.75 17.613Q8.45 19.575 11.05 19.975Z"
                    />
                  </svg>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M3.55 12.05Q3.7 10.85 4.15 9.762Q4.6 8.675 5.325 7.8L6.4 8.85Q5.875 9.575 5.55 10.387Q5.225 11.2 5.075 12.05ZM11 21.5Q9.825 21.35 8.763 20.9Q7.7 20.45 6.75 19.725L7.8 18.65Q8.525 19.175 9.338 19.5Q10.15 19.825 11 19.95ZM5.325 18.3Q4.575 17.35 4.125 16.275Q3.675 15.2 3.55 14.05H5.075Q5.225 14.9 5.55 15.712Q5.875 16.525 6.4 17.25ZM13 21.5V19.975Q15.6 19.575 17.3 17.613Q19 15.65 19 13.05Q19 10.125 16.962 8.088Q14.925 6.05 12 6.05H11.5L13.35 7.9L12.3 8.95L8.65 5.3L12.3 1.65L13.35 2.725L11.55 4.55H12Q15.55 4.55 18.025 7.025Q20.5 9.5 20.5 13.05Q20.5 16.275 18.363 18.675Q16.225 21.075 13 21.5Z"
                    />
                  </svg>
                </li>
              </div>
              <div class="flip">
                <span>Flip Image</span>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M17 13.65 15.95 12.575 18.775 9.75H11.25V8.25H18.775L15.95 5.425L17 4.35L21.65 9ZM7 19.65 2.35 15 7 10.35 8.05 11.425 5.225 14.25H12.75V15.75H5.225L8.05 18.575Z"
                    />
                  </svg>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M15 21.65 10.35 17 11.425 15.95 14.25 18.775V11.25H15.75V18.775L18.575 15.95L19.65 17ZM8.25 12.75V5.225L5.425 8.05L4.35 7L9 2.35L13.65 7L12.575 8.05L9.75 5.225V12.75Z"
                    />
                  </svg>
                </li>
              </div>
              <div class="move" style="border-bottom: 0px">
                <span style="margin-bottom: 10px">Move Image</span>
                <li>
                  <svg
                    style="left: 44px"
                    xmlns="http://www.w3.org/2000/svg"
                    height="35"
                    width="35"
                  >
                    <path
                      d="M11.25 19.625V7.25L5.45 13.075L4.375 12L12 4.375L19.625 12L18.55 13.075L12.75 7.25V19.625Z"
                    />
                  </svg>
                </li>
                <br />
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="35"
                    width="35"
                  >
                    <path
                      d="M12 19.625 4.375 12 12 4.375 13.075 5.45 7.25 11.25H19.625V12.75H7.25L13.075 18.55Z"
                    />
                  </svg>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="35"
                    width="35"
                  >
                    <path
                      d="M12 19.625 10.925 18.55 16.75 12.75H4.375V11.25H16.75L10.925 5.45L12 4.375L19.625 12Z"
                    />
                  </svg>
                </li>
                <br />
                <li>
                  <svg
                    style="left: 44px"
                    xmlns="http://www.w3.org/2000/svg"
                    height="35"
                    width="35"
                  >
                    <path
                      d="M12 19.625 4.375 12 5.45 10.925 11.25 16.75V4.375H12.75V16.75L18.55 10.925L19.625 12Z"
                    />
                  </svg>
                </li>
              </div>
            </div>

            <div class="bottom-control">
              <div class="ctrl-cropper">
                <span>Control Cropper</span>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path d="M5 13V11H19V13ZM3 17V15H17V17ZM7 9V7H21V9Z" />
                  </svg>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M17 15V7Q17 7 17 7Q17 7 17 7H9V5H17Q17.825 5 18.413 5.588Q19 6.175 19 7V15ZM17 23V19H7Q6.175 19 5.588 18.413Q5 17.825 5 17V7H1V5H5V1H7V17Q7 17 7 17Q7 17 7 17H23V19H19V23Z"
                    />
                  </svg>
                </li>
              </div>
              <div class="lock">
                <span>Lock Cropper</span>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M12 1Q14.075 1 15.538 2.462Q17 3.925 17 6V8H18Q18.825 8 19.413 8.587Q20 9.175 20 10V20Q20 20.825 19.413 21.413Q18.825 22 18 22H6Q5.175 22 4.588 21.413Q4 20.825 4 20V10Q4 9.175 4.588 8.587Q5.175 8 6 8H7V6Q7 3.925 8.463 2.462Q9.925 1 12 1ZM12 3Q10.75 3 9.875 3.875Q9 4.75 9 6V8H15V6Q15 4.75 14.125 3.875Q13.25 3 12 3ZM6 20H18Q18 20 18 20Q18 20 18 20V10Q18 10 18 10Q18 10 18 10H6Q6 10 6 10Q6 10 6 10V20Q6 20 6 20Q6 20 6 20ZM12 13Q11.175 13 10.588 13.587Q10 14.175 10 15Q10 15.825 10.588 16.413Q11.175 17 12 17Q12.825 17 13.413 16.413Q14 15.825 14 15Q14 14.175 13.413 13.587Q12.825 13 12 13ZM6 10Q6 10 6 10Q6 10 6 10V20Q6 20 6 20Q6 20 6 20Q6 20 6 20Q6 20 6 20V10Q6 10 6 10Q6 10 6 10Z"
                    />
                  </svg>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M7 6Q7 3.925 8.463 2.462Q9.925 1 12 1Q14.075 1 15.538 2.462Q17 3.925 17 6V8H18Q18.825 8 19.413 8.587Q20 9.175 20 10V20Q20 20.825 19.413 21.413Q18.825 22 18 22H6Q5.175 22 4.588 21.413Q4 20.825 4 20V10Q4 9.175 4.588 8.587Q5.175 8 6 8H15V6Q15 4.75 14.125 3.875Q13.25 3 12 3Q10.75 3 9.875 3.875Q9 4.75 9 6ZM6 20H18Q18 20 18 20Q18 20 18 20V10Q18 10 18 10Q18 10 18 10H6Q6 10 6 10Q6 10 6 10V20Q6 20 6 20Q6 20 6 20ZM12 13Q11.175 13 10.588 13.587Q10 14.175 10 15Q10 15.825 10.588 16.413Q11.175 17 12 17Q12.825 17 13.413 16.413Q14 15.825 14 15Q14 14.175 13.413 13.587Q12.825 13 12 13ZM6 10Q6 10 6 10Q6 10 6 10V20Q6 20 6 20Q6 20 6 20Q6 20 6 20Q6 20 6 20V10Q6 10 6 10Q6 10 6 10Z"
                    />
                  </svg>
                </li>
              </div>
              <div class="drag-mode">
                <span>Drag Mode</span>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M17 15V7Q17 7 17 7Q17 7 17 7H9V5H17Q17.825 5 18.413 5.588Q19 6.175 19 7V15ZM17 23V19H7Q6.175 19 5.588 18.413Q5 17.825 5 17V7H1V5H5V1H7V17Q7 17 7 17Q7 17 7 17H23V19H19V23Z"
                    />
                  </svg>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24"
                    width="24"
                  >
                    <path
                      d="M8.1 9.5 5 6.4V9H3V3H9V5H6.4L9.5 8.1ZM15.9 9.5 14.5 8.1 17.6 5H15V3H21V9H19V6.4ZM15 21V19H17.6L14.5 15.9L15.9 14.5L19 17.6V15H21V21ZM3 21V15H5V17.6L8.1 14.5L9.5 15.9L6.4 19H9V21Z"
                    />
                  </svg>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer-distributed">
        <div class="footer-left">
          <h3>CS336</h3>
          <h2><span>Multimedia Information Retrieval</span></h2>

          <p class="footer-links">
            <a href="#" class="link-1">GVHD</a>

            <a href="#">Ngô Đức Thành</a>
          </p>

          <p class="footer-company-name">
            University of Information Technology © 2023
          </p>
        </div>

        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><a>Computer Science</a>University of Information Technology</p>
          </div>

          <div>
            <i class="fa fa-github"></i>
            <p>quangphubui</p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p>
              <a href="mailto:support@company.com">dothithutrang@gmail.com</a>
            </p>
          </div>
        </div>

        <div class="footer-right">
          <div class="footer-company-about">
            <span>About us</span>
            <div class="ul-team">
              <div>Bùi Quang Phú - 20520273</div>
              <div>Đỗ Thị Thu Trang - 20520816</div>
              <div>Nguyễn Minh Thuận - 20520795</div>
              <div>Nguyễn Đặng Bảo Ngọc - 20521663</div>
            </div>
          </div>

          <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </footer>
    </div>
    <div class="modal js-modal open">
      <div class="modal_container">
        <div class="left-side">
          <h1 class="h1_title"><span>Image search</span> engine</h1>
          <p class="subject">CS336: Multimedia Information Retrieval</p>
          <ul class="ul_team">
            <p>Our members</p>
            <div class="ul_team_member">
              <div>
                <div>Bùi Quang Phú</div>
                <div>Nguyễn Minh Thuận</div>
              </div>
              <div>
                <div>Đỗ Thị Thu Trang</div>
                <div>Nguyễn Đặng Bảo Ngọc</div>
              </div>
            </div>
          </ul>
          <button id="close">Let's start</button>
        </div>
        <div class="right-side">
          <img
            src="/static/logo/right_bg.png"
            alt="hero desktop"
            class="desktop-img image-fluid"
          />
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="/static/assets/javascript/introduce.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- script file from cropper.js lib -->
    <script src="/static/assets/javascript/cropper.js"></script>
    <!-- custom javascript -->
    <script src="/static/assets/javascript/main-script.js"></script>
  </body>
</html>
